.content-wrapper {
  display: table;
  margin: 0 auto;
}

.payment-wrapper {
  margin-top: 50px;
}

.checkout-button {
  width: 100%;
  border-radius: 0;
  position: absolute;
  bottom: 0;
  height: 7%;
}

.checkout-wrapper {
  width: 100%;
}
