<mat-horizontal-stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Userdaten</ng-template>
      <mat-form-field class="registration-input">
        <input matInput placeholder="Email" formControlName="firstCtrl" required [(ngModel)]="userdata.email">
      </mat-form-field>
      <mat-form-field class="registration-input">
        <input matInput placeholder="Username" formControlName="firstCtrl" required [(ngModel)]="userdata.displayname">
      </mat-form-field>
      <mat-form-field class="registration-input">
        <input matInput placeholder="Passwort" formControlName="firstCtrl" required type="password"
               [(ngModel)]="userdata.password">
      </mat-form-field>
      <mat-form-field class="registration-input">
        <input matInput placeholder="Passwort wiederholen" formControlName="firstCtrl" required type="password">
      </mat-form-field>
      <div class="buttons-userdata">
        <button mat-raised-button color="primary" class="next-button" [routerLink]="['/login']">Abbrechen</button>
        <button mat-raised-button color="primary" matStepperNext class="next-button">Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Persönliche Daten</ng-template>
      <div class="info-div">
        <p>Damit wir dir deine Bestellung liefern können, musst du deine Persönlichen Daten geben. Diese Daten kannst du
          später auch bearbeiten.</p>
      </div>
      <mat-form-field class="registration-input">
        <input matInput placeholder="Voller Name" formControlName="secondCtrl" required
               [(ngModel)]="personalData.fullname">
      </mat-form-field>
      <mat-form-field class="registration-input">
        <input matInput placeholder="Adresse" formControlName="secondCtrl" required [(ngModel)]="personalData.address">
      </mat-form-field>
      <mat-form-field class="registration-input">
        <input matInput placeholder="PLZ" formControlName="secondCtrl" required [(ngModel)]="personalData.postcode">
      </mat-form-field>
      <mat-form-field class="registration-input">
        <input matInput placeholder="Stadt" formControlName="secondCtrl" required [(ngModel)]="personalData.city">
      </mat-form-field>
      <div class="buttons-personal-data">
        <button mat-raised-button color="primary" matStepperPrevious class="finish-button">Zurück</button>
        <button mat-raised-button color="primary" matStepperNext class="next-button">Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Kreditkarte</ng-template>
      <div class="info-div">
        <p>Um Käufe machen zu können, musst du deine Kreditkartendaten eingeben.</p>
      </div>
      <mat-form-field class="registration-input">
        <input matInput placeholder="Kreditkartennummer" formControlName="thirdCtrl" required id="cc-number" type="tel"
               autocomplete="cc-number" ccNumber>
      </mat-form-field>
      <mat-form-field class="registration-input">
        <input matInput placeholder="CVC" formControlName="thirdCtrl" required id="cc-cvc" type="tel"
               autocomplete="cc-cvc" ccCVC>
      </mat-form-field>
      <mat-form-field class="registration-input">
        <input matInput placeholder="Ablaufsdatum (MM/YY)" formControlName="thirdCtrl" required id="cc-exp-date"
               type="tel" autocomplete="cc-exp" ccExp>
      </mat-form-field>
      <div class="buttons-personal-data">
        <button mat-raised-button color="primary" matStepperPrevious class="finish-button">Zurück</button>
        <button mat-raised-button color="primary" (click)="registerUser()" class="finish-button">Fertig</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>

