@media screen and (min-width: 695px) {
  .overflow-wrapper {
    margin-left: 10%;
    width: calc(100% - 20%);
  }
}

.show-product-button {
  width: calc(100% - 20%);
  display: inline-block;
}

.make-favorite-button {
  width: 20%;
  display: inline-block;
  position: absolute;
  right: 0;
}

p {
  margin-left: 10px;
}

.amount-to-pay {
  border-bottom: double 3px #000000;
}
