.mdl-textfield {
    width: calc(100% - 40px) !important;
    margin-left: 20px;
}

.change-form-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.save-button {
    position: absolute !important;
    right: 20px;
    width: 40%;
}

.cancel-button {
    position: absolute !important;
    left: 20px;
    width: 40%;
}