.cart-button {
    position: absolute !important;
    right: 75px;
}

.logout-button {
    position: absolute !important;
    right: 5px;
}

.navigation-wrapper {
    background-color: lightgrey;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navigation {
    margin: 10px;
}

.mdl-layout__header-row {
    padding: 0 16px 0 10px !important;
}

.title {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.demo-card-wide > .mdl-card__title {
    height: 190px;
    background: url('../img/nike-air-force.jpeg') center / cover;
}