.settings-wrapper {
    width: calc(100% - 40px);
    margin-left: 20px;
}

.mdl-list {
    margin-top: 0px;
}

#demo-toast-example {
     width: calc(100% - 40px);
     margin-left: 20px;
 }

.mdl-snackbar--active {
    margin-bottom: 60px;
}