@media screen and (min-width: 1090px) {
  .grid-list {
    margin-left: 25%;
    width: calc(100% - 50%);
    padding-bottom: 23% !important;
  }
}

.product-info-wrapper {
  width: 100%;
}

.product-info {
  display: table;
  margin: 0 auto;
}
