@media screen and (max-width: 599px) {
  .grid-wrapper {
    grid-template-columns: 25% auto 25%;
    grid-template-areas: ". logo ." "login login login" !important;
  }
}

@media screen and (min-width: 600px) {
  .grid-wrapper {
    grid-template-columns: 15% 5% auto 5% 15%;
  }
}

@media screen and (min-width: 840px) {
  .grid-wrapper {
    grid-template-columns: 25% 10% auto 10% 25%;
  }
}

@media screen and (min-width: 1024px) {
  .grid-wrapper {
    grid-template-columns: 30% 10% auto 10% 30%;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-rows: 40% auto;
  grid-template-areas: ". . logo . ." ". login login login .";
}

.login-form-wrapper {
  grid-area: login;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.login-input, .login-button, .register {
  width: calc(100% - 40px) !important;
}

.registration-link {
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-button {
  margin-bottom: 10px;
  margin-left: 20px;
}

.register {
  margin-left: 20px;
}

.body-wrapper {
  background-image: linear-gradient(to right top, #12005e, #6a1b9a 60%, #9c27b0);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.footer {
  margin-left: 25px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}

.logo-wrapper {
  grid-area: logo;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
