@media screen and (min-width: 750px) {
  .shopping-cart-wrapper {
    margin-left: 25%;
    width: 50%;
  }
}

@media screen and (max-width: 749px) {
  .shopping-cart-wrapper {
    margin-left: 20px;
    width: calc(100% - 40px);
  }
}

.total-item {
  background-image: linear-gradient(#6a1b9a, #12005e);
  color: white;
}

h4 {
  margin-block-end: 10px;
}

button {
  display: inline-block;
}

div {
  margin-right: 20px;
}

.add-button {
  margin-right: 10px;
}
