@media screen and (max-width: 749px) {
  .container {
    margin-left: 20px;
    width: calc(100% - 40px);
  }
}

.total-item {
  background-image: linear-gradient(#6a1b9a, #12005e);
  color: white;
  cursor: pointer;
}

.total-item-unauthorized {
  background-image: linear-gradient(#b8b8b8, #999999);
  color: black;
}

h4 {
  margin-block-end: 10px;
}

button {
  display: inline-block;
}

div {
  margin-right: 20px;
}

.add-button {
  margin-right: 10px;
}
