<app-back-nav pageTitle="Persönliche Daten" pageIcon="edit"></app-back-nav>

<mat-list *ngFor="let data of userData | async">
  <mat-list-item class="personal-data-item">
    <mat-form-field class="personal-data-input">
      <input matInput placeholder="Voller Name" value="{{data.fullname}}">
    </mat-form-field>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="personal-data-item">
    <mat-form-field class="personal-data-input">
      <input matInput placeholder="Adresse" value="{{data.address}}">
    </mat-form-field>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="personal-data-item">
    <mat-form-field class="personal-data-input">
      <input matInput placeholder="PLZ" value="{{data.postcode}}">
    </mat-form-field>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="personal-data-item">
    <mat-form-field class="personal-data-input">
      <input matInput placeholder="Stadt" value="{{data.city}}">
    </mat-form-field>
  </mat-list-item>
  <mat-divider></mat-divider>
  <button mat-flat-button color="primary" class="save-button">Speichern</button>
</mat-list>
