@media screen and (min-width: 750px) {
  .form-wrapper, .save-button {
    margin-left: 25%;
    width: 50%;
  }
}

@media screen and (max-width: 749px) {
  .save-button {
    width: 100%;
    border-radius: 0px;
    position: absolute;
    bottom: 0;
    height: 7%;
  }
}

.personal-data-item {
  height: 75px;
}

.personal-data-input {
  width: 100%;
}

.text-wrapper {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}
