@media screen and (min-width: 750px) {
  .form-wrapper {
    margin-left: 25%;
    width: calc(100% - 50%);
  }
}

.personal-data-item {
  height: 75px;
}

.save-button, .personal-data-input {
  width: 100%;
}

.save-button {
  border-radius: 0px;
  position: absolute;
  bottom: 0;
  height: 7%;
}

.text-wrapper {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}
