<mat-toolbar color="primary" class="toolbar-menu">
  <mat-toolbar-row>
    <img src="../../assets/img/icons/icon-32.png" alt="logo">
    <h1>PWABay</h1>
    <div class="large-device-buttons" *ngIf="!sizeService.getIsPhone()">
      <button mat-flat-button color="primary" [routerLink]="['/home']">Start</button>
      <button mat-flat-button color="primary" [routerLink]="['/search']">Suchen</button>
      <button mat-flat-button color="primary" [routerLink]="['/favorites']" *ngIf="authenticated">Favoriten</button>
      <button mat-flat-button color="primary" [routerLink]="['/settings']" *ngIf="authenticated">Einstellungen</button>
      <button mat-flat-button color="primary" [routerLink]="['/login']" *ngIf="!authenticated">Login</button>
    </div>
    <div>
      <button mat-flat-button color="primary" class="shopping-cart-button" [routerLink]="['/shopping-cart']">
        {{priceSum.toFixed(2)}} CHF
        <mat-icon class="cart-icon" [@added]="isAdded ? 'notAdded' : 'added'" fontSet="fas"
                  fontIcon="fa-shopping-cart"></mat-icon>
      </button>
      <button mat-flat-button color="primary" class="logout-button" (click)="logout()">
        <mat-icon fontIcon="fa-sign-out-alt" fontSet="fas"></mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
