.logout-button {
  position: absolute;
  right: 0px;
  top: 0;
  height: 56px;
}

.shopping-cart-button {
  position: absolute;
  right: 66px;
  top: 0;
  height: 56px;
}

.cart-icon {
  margin-left: 5px;
}
