/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.title {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.product-card {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  text-align: center;
}

.product-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.show-product-button {
  width: 100%;
}

// mobile
@media screen and (min-width: 660px) {
  .container {
    width: 50%;
    margin-left: 25% !important;
  }
}

// tablet
@media screen and (max-width: 749px) {
  // Todo: Create container for tablet
}

// desktop
@media screen and (min-width: 750px) {
  .container {
    margin-left: 25% !important;
    width: 50%;
  }
}
