@media screen and (min-width: 580px) {
  .all-products-button {
    margin-top: 5px;
    margin-bottom: 10px;
    width: calc(100% - 40%);
    margin-left: 20%;
    border-radius: 0;
  }

  .product-search-panel, .overall-search-panel {
    margin-left: 20%;
    width: calc(100% - 40%);
  }

}

@media screen and (max-width: 579px) {
  .all-products-button {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 0;
  }
}

.search-input, .search-button {
  width: 100%;
}

.produktsuche-wrapper, .allgemeine-suche-wrapper {
  width: calc(100% - 40px);
  margin-left: 20px;
}

.product-search-panel {
  margin-bottom: 10px;
}

mat-divider {
  margin-top: 20px;
  margin-bottom: 18px;
}


