.search-input, .search-button {
  width: 100%;
}

.produktsuche-wrapper, .allgemeine-suche-wrapper {
  width: calc(100% - 40px);
  margin-left: 20px;
}

mat-divider {
  margin-top: 20px;
  margin-bottom: 18px;
}
