@media screen and (max-width: 599px) {
  .grid-wrapper {
    grid-template-columns: 5% auto 5%;
    grid-template-areas: ". all-products ." ". accordions .";
  }
}

@media screen and (min-width: 600px) {
  .grid-wrapper {
    grid-template-columns: 15% 5% auto 5% 15%;
    grid-template-areas: ". all-products all-products all-products ." ". accordions accordions accordions .";
  }
}

@media screen and (min-width: 840px) {
  .grid-wrapper {
    grid-template-columns: 25% 10% auto 10% 25%;
    grid-template-areas: ". all-products all-products all-products ." ". accordions accordions accordions .";
  }
}

@media screen and (min-width: 1024px) {
  .grid-wrapper {
    grid-template-columns: 30% 10% auto 10% 30%;
    grid-template-areas: ". all-products all-products all-products ." ". accordions accordions accordions .";
  }
}

.grid-wrapper {
  display: grid;
  grid-template-rows: auto;
}

.search-input, .search-button {
  width: 100%;
}

.all-products-button {
  grid-area: all-products;
  margin-bottom: 5px;
  margin-top: 5px;
}

.search-accordions {
  grid-area: accordions;
}



