<app-back-nav pageTitle="Favoriten" pageIcon="favorite_border">></app-back-nav>

<div class="overflow-wrapper">
  <mat-grid-list cols="2" rowHeight="1:1" *ngIf="innerWidth < 695">
    <mat-grid-tile *ngFor="let favorite of favorites">
      <img [src]="favorite.image" alt="product-image" style="object-fit: cover; height: inherit; width: inherit;"
           (click)="openProductDetails(favorite)" matRipple>
      <mat-grid-tile-footer>
        <span>{{favorite.name}}</span>
        <button mat-button class="make-favorite-button" (click)="toggleFavorite(favorite)">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="4" rowHeight="1:1" *ngIf="innerWidth >= 695">
    <mat-grid-tile *ngFor="let favorite of favorites">
      <img [src]="favorite.image" alt="product-image" style="object-fit: cover; height: inherit; width: inherit;"
           (click)="openProductDetails(favorite)" matRipple>
      <mat-grid-tile-footer>
        <span>{{favorite.name}}</span>
        <button mat-button class="make-favorite-button" (click)="toggleFavorite(favorite)">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
