@media screen and (min-width: 695px) {
  .overflow-wrapper {
    margin-left: 10%;
    width: calc(100% - 20%);
  }
}

.show-product-button {
  width: calc(100% - 20%);
  display: inline-block;
}

.make-favorite-button {
  width: 20%;
  display: inline-block;
  position: absolute;
  right: 0;
}

mat-icon {
  background-image: linear-gradient(#9575cd, #12005e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
