<app-back-nav pageTitle="Favoriten" pageIcon="favorite_border">></app-back-nav>

<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile *ngFor="let favorite of favorites" (click)="openProductDetails(favorite)" matRipple>
    <img [src]="favorite.image" alt="product-image" style="object-fit: cover; height: inherit; width: inherit;">
    <mat-grid-tile-footer>
      <h3>{{favorite.name}}</h3>
      <button mat-button class="make-favorite-button" (click)="toggleFavorite(favorite)">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
