@media screen and (min-width: 695px) {
  .overflow-wrapper {
    margin-left: 10%;
    width: calc(100% - 20%);
  }
}

.show-product-button {
  width: calc(100% - 20%);
  display: inline-block;
}

.make-favorite-button {
  width: 20%;
  display: inline-block;
  position: absolute;
  right: 0;
}

mat-icon {
  background-image: linear-gradient(#ce93d8, #ab47bc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::ng-deep .mat-grid-tile .mat-grid-tile-footer, .mat-grid-tile .mat-grid-tile-header {
  background: linear-gradient(rgb(106, 27, 154, 0.40), rgb(18, 0, 94, 0.90)) !important;
}
