<app-toolbar></app-toolbar>
<mat-card class="product-card">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      In einer späteren Version werden dir hier Produktvorschläge gezeigt.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="show-product-button">Anzeigen</button>
  </mat-card-actions>
</mat-card>
<div class="user-info-wrapper">
  <h3>Momentaner Benutzer</h3>
  <p class="title" *ngIf="currentUser">Hallo {{currentUser.displayName}}</p>
</div>
<app-nav></app-nav>
