<app-toolbar></app-toolbar>
<mat-card class="container product-card">
  <img mat-card-image [src]="product.image" alt="Product-Image">
  <mat-card-content>
    <h2>{{product.name}}</h2>
    <h3>{{product.price.toFixed(2)}} Fr.</h3>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="show-product-button" (click)="showProduct()">Anzeigen</button>
    <button mat-button class="make-favorite-button" (click)="toggleFavorite()">
      <mat-icon>favorite_border</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<div class="user-info-wrapper">
  <h3>Momentaner Benutzer</h3>
  <p class="title" *ngIf="currentUser">Hallo {{currentUser.displayName}}</p>
</div>
<app-nav></app-nav>
