@media screen and (max-width: 599px) {
  .grid-wrapper {
    grid-template-rows: auto auto;
    grid-template-columns: 5% auto 5%;
    grid-template-areas: ". product ." ". news ." ". user .";
  }
}

@media screen and (min-width: 600px) {
  .grid-wrapper {
    grid-template-rows: auto auto;
    grid-template-columns: 10% auto 10%;
    grid-template-areas: ". product ." ". news ." ". user .";
  }
}

@media screen and (min-width: 840px) {
  .grid-wrapper {
    grid-template-rows: auto;
    grid-template-columns: 5% 30% auto 30% 5%;
    grid-template-areas: ". product product news ." ". product product user .";
  }
}

@media screen and (min-width: 1024px) {
  .grid-wrapper {
    grid-template-rows: auto auto;
    grid-template-columns: 10% 15% auto 15% 10%;
    grid-template-areas: ". product product news ." ". product product user .";
  }
}

.grid-wrapper {
  display: grid;
}

.user-info-wrapper {
  grid-area: user;
}

.newsletter-wrapper {
  grid-area: news;
}

.product-card {
  grid-area: product;
}

.show-product-button {
  width: calc(100% - 20%);
  display: inline-block;
}

.make-favorite-button {
  width: 20%;
  display: inline-block;
  position: absolute;
  right: 0;
}

img {
  width: 50%;
}

mat-divider {
  margin-top: 1em;
}

