<app-toolbar></app-toolbar>

<div class="payments-wrapper">
  <p>Hier siehst du all deine bisherigen Zahlungen. All deine Quittungen sind hier verlinkt.</p>

  <h3>Getätigte Zahlungen</h3>

  <mat-list role="list">
    <mat-divider></mat-divider>
    <div *ngFor="let payment of payments">
      <mat-list-item (click)="openBottomSheet(payment.receipt_url)">
        <h4 matLine>{{getPaymentDate(payment.created)}}</h4>
        <p matLine>Betrag: {{payment.amount / 100}} CHF</p>
        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>

<app-nav></app-nav>
