<app-toolbar></app-toolbar>

<p>Hier siehst du all deine bisherigen Zahlungen.</p>

<h3>Getätigte Zahlungen</h3>

<mat-list role="list">
  <mat-divider></mat-divider>
  <div *ngFor="let payment of payments.data">
    <mat-list-item>
      <h4 matLine>{{getPaymentDate(payment.created)}}</h4>
      <p matLine>Betrag: {{payment.amount / 100}} CHF</p>
      <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>


<app-nav></app-nav>
