@media screen and (max-width: 749px) {
  .container {
    width: calc(100% - 40px);
    margin-left: 20px;
  }
}

fa-icon {
  color: #6a1b9a;
}

p {
  text-align: justify;
}

mat-list-item {
  cursor: pointer;
}
