@media screen and (min-width: 750px) {
  .payments-wrapper {
    width: 50%;
    margin-left: 25%;
  }
}

@media screen and (max-width: 749px) {
  .payments-wrapper {
    width: calc(100% - 40px);
    margin-left: 20px;
  }
}

fa-icon {
  color: #6a1b9a;
}

p {
  text-align: justify;
}

mat-list-item {
  cursor: pointer;
}
