<app-toolbar></app-toolbar>

<div class="settings-wrapper">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <p>Push-Nachrichten</p>
      <mat-slide-toggle class="push-toggle"></mat-slide-toggle>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem" (click)="changeUsername()">
      <p>Usernamen ändern</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem" (click)="changePassword()">
      <p>Passwort ändern</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem" (click)="changePersonalData()">
      <p>Persönliche Daten ändern</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem" (click)="showPayments()">
      <p>Zahlungen anzeigen</p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>

<app-nav></app-nav>
