@media screen and (min-width: 750px) {
  .settings-wrapper {
    width: 50%;
    margin-left: 25%;
  }
}

@media screen and (max-width: 749px) {
  .settings-wrapper {
    width: calc(100% - 40px);
    margin-left: 20px;
  }
}


.push-toggle {
  position: absolute;
  right: 20px;
}

mat-list-item {
  cursor: pointer;

  &:hover {
    background-color: #c8c8c8;
  }
}
