@media screen and (max-width: 749px) {
  .container {
    width: calc(100% - 40px);
    margin-left: 20px;
  }
}


.push-toggle {
  position: absolute;
  right: 20px;
}

mat-list-item {
  cursor: pointer;
  transition: background-color .5s ease-in-out;

  &:hover {
    background-color: #c8c8c8;
  }
}
